.main{
 width: 100%;
 height: auto;
}
.inner{
  width:100%;
}
.side{
  background-color: rgb(19, 18, 17);
  width: 200px;
  height: 10%;
  float: left;
  display: flex;
}
.side1{
  /* background-color: rgb(32, 32, 218); */
  height: 91.2vh;
  margin-left: 0px;
}
.folder{
  height: 200px;
  margin-left: 10px;
}
.icon{
  font-size: 140px;
  color: aliceblue;
  margin-left: 40px;
  margin-top:100px;
}
#card{
  width: 245px;
  height:200px ;
  background-color: rgb(74, 72, 72);
  
}
#sa{
  font-size: 150px;
  margin-left: 50px;
  color:#f1f1f1;
}
#header{
  background-color: #0e0e0e;
  color: #f1f1f1;
}
#title{
  margin-top: -10px;
}
#title1{
  margin-top: -6px;
}
#more{
  color:#f1f1f1;
  margin-top: -10px;
}
.cardLeft{
  float: left;
  margin-left: 10px;
  margin-top: 15px;
 }
#name{
  width:300px;
}
#rename{
  width: 200px;
}
.paginatin{
  float: left;
  margin-top: 0px;
}
.nextBtn{
  margin-top: 0px;
  margin-left: 980px;
  border:rgb(32, 32, 218);
  background-color: rgb(32, 32, 218);
  color: #f1f1f1;
}
.sort{
  border: 1px;
  color: #fff;
}